---
import { Image } from 'astro:assets'
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero/Hero.astro";
import DefaulContentBlock from "../components/Content/DefaultContentBlock.astro";
import ImageOnRight from "../components/Content/ImageOnRight.astro";
import ImageOnLeft from "../components/Content/ImageOnLeft.astro";
import CallToAction from "../components/CallToAction.astro";
import Button from "../components/Buttons/PrimaryButton.astro";
import SubTitle from "../components/Headings/SubTitle.astro";
import BigQuote from "../components/BigQuote.astro";

import heroBg from "../assets/images/bg-img1.png";   
---

<Layout title={`Contact Us | Perry's Fencing & Landscaping Services`} description={`Providing premium Fencing, Garden and Landscaping Services. Fencing, patios, lawns and more in Herts, Beds, Essex & North London. Get a FREE quote today.`}>




<Hero 
title="Perry's Fencing & Landscaping Services"
sub="Get in Touch for a FREE Quote Today" 

image={heroBg}

>

</Hero>
		


<div class="bg-white lg:my-32 my-20">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto lg:text-center">
        <h2 class="block lg:text-center font-semibold text-brand-primary text-2xl lg:text-4xl">Get Your Project Started</h2>

        <p class="my-6 max-w-4xl mx-auto lg:text-2xl  text-gray-700">Take advantage of our FREE home survey and no-obligation quote service. Our skilled team will come to your property, assess your specific needs, and discuss your project goals. You'll receive expert advice tailored to your requirements and a detailed quote with transparent pricing, allowing you to make informed decisions about your project.
          
        </p>
        
        <p class="mt-6 max-w-4xl mx-auto lg:text-2xl  text-gray-700">
Complete our short online survey form by following the link below, and one of the experts from Perry's Fencing & Landscaping will be in touch to arrange your free home survey and no obligation quote.

        </p>
       

     
        <Button href="https://2wg4hkpfq09.typeform.com/to/KuG0wTg8">COMPLETE ONLINE SURVEY</Button>


      </div>
      
      
       
        
  
    </div>
  </div>


  



</Layout>  

