---
import { Image } from 'astro:assets'
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero/Hero.astro";
import DefaulContentBlock from "../components/Content/DefaultContentBlock.astro";
import ImageOnRight from "../components/Content/ImageOnRight.astro";
import ImageOnLeft from "../components/Content/ImageOnLeft.astro";
import CallToAction from "../components/CallToAction.astro";
import Button from "../components/Buttons/PrimaryButton.astro";
import SubTitle from "../components/Headings/SubTitle.astro";
import heroBg from "../assets/images/family1.png";
import extension6 from "../assets/images/extension6.png";
import family2 from"../assets/images/couple1.jpeg";

---

<Layout title={`Testimonials | RAU Services`} description={`Testimonials from our many satisified customers.`}>

   
  
  <div class="bg-white my-10 lg:my-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto lg:text-center">
        <h2 class="block lg:text-center font-semibold text-brand-primary text-2xl lg:text-6xl">Our Satisfied Customers</h2>
      
      </div>
      
    </div>
  </div>


  <div class="bg-brand-primary max-w-7xl mx-4 rounded-lg mb-20 py-10">
    <div class="mx-auto  max-w-7xl md:grid md:grid-cols-2 md:px-6 lg:px-8">
      <div class="px-6 py-12 md:flex md:flex-col md:py-16 md:pl-0 md:pr-10 lg:pr-16">
        
        <blockquote class="mt-6 md:flex md:flex-grow md:flex-col">
          <div class="relative text-lg font-medium text-white md:flex-grow">
            <svg class="absolute left-0 top-0 h-8 w-8 -translate-x-3 -translate-y-2 transform text-gray-600" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
              <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
            </svg>
            <h3 class="text-xl lg:text-3xl text-white relative font-bold mb-2">Professional and extremely courteous</h3>

            <p class="relative">From contact for an initial quote to completion of my fence installation James and his crew were professional and extremely courteous throughout. The finished work is first rate and I would highly recommend them definitely a 5 star rating from me.
            </p>
          </div>
          <footer class="mt-8">
            <div class="flex items-start">
              
              <div>
                <div class="text-base font-medium text-white">Ruth Hughes</div>
                <div class="text-base font-medium text-white">Fence & Gate Installation

                </div>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
      <div class="px-6 py-12 md:py-16 md:pl-10 md:pr-0 lg:pl-16">
     
        <blockquote class="mt-6 md:flex md:flex-grow md:flex-col">
          <div class="relative text-lg font-medium text-white md:flex-grow">
            <svg class="absolute left-0 top-0 h-8 w-8 -translate-x-3 -translate-y-2 transform text-gray-600" fill="currentColor" viewBox="0 0 32 32">
              <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
            </svg>
            <h3 class="text-xl lg:text-3xl text-white relative font-bold mb-2">Very helpful</h3>
            <p class="relative">James was very helpful, came and gave me a quote quickly. Will definitely be using him again in the future.
            </p>
          </div>
          <footer class="mt-8">
            <div class="flex items-start">
              
              <div>
                <div class="text-base font-medium text-white">Eleanor Patterson

                </div>
                <div class="text-base font-medium text-white">Fence & Gate Installation

                </div>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>

      <div class="px-6 py-12 md:flex md:flex-col md:py-16 md:pl-0 md:pr-10 lg:pr-16">
        
        <blockquote class="mt-6 md:flex md:flex-grow md:flex-col">
          <div class="relative text-lg font-medium text-white md:flex-grow">
            <svg class="absolute left-0 top-0 h-8 w-8 -translate-x-3 -translate-y-2 transform text-gray-600" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
              <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
            </svg>
            <h3 class="text-xl lg:text-3xl text-white relative font-bold mb-2">Quick response and a good job</h3>

            <p class="relative">A very nice guy, and a quick response and a good job.l will use them again.
            </p>
          </div>
          <footer class="mt-8">
            <div class="flex items-start">
              
              <div>
                <div class="text-base font-medium text-white">Mrs Hughes</div>
                <div class="text-base font-medium text-white">Fence & Gate Installation

                </div>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
      <div class="px-6 py-12 md:py-16 md:pl-10 md:pr-0 lg:pl-16">
     
        <blockquote class="mt-6 md:flex md:flex-grow md:flex-col">
          <div class="relative text-lg font-medium text-white md:flex-grow">
            <svg class="absolute left-0 top-0 h-8 w-8 -translate-x-3 -translate-y-2 transform text-gray-600" fill="currentColor" viewBox="0 0 32 32">
              <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
            </svg>
            <h3 class="text-xl lg:text-3xl text-white relative font-bold mb-2">An absolute delight to work with</h3>
            <p class="relative">RAU where an absolute delight to work with on our Garden refurb / landscaping. The team were polite, courteous and always communicated well with us throughout the project, nothing was too big for them and they always made sure we were happy with the work. I would recommend using James, Rich and and the team and because of their great job we will be asking them to the work required on the front of the house. 5 stars for the guys. </p>
          </div>
          <footer class="mt-8">
            <div class="flex items-start">
              
              <div>
                <div class="text-base font-medium text-white">Nigel</div>
                <div class="text-base font-medium text-white">Landscaping & Garden refurb</div>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>


    </div>

</div>
<CallToAction
background={extension6}  
title="Let's Bring Your Ideas to Life Together!"
ImageAlt="Get a Free No Obligation Quote"
linkText="GET A FREE QUOTE"
href="/">
<div slot="ctaContent"> 
  <p class="mt-6 mb-4 lg:text-lg">
    At RAU Services, we're more than just a company – we're your partners in creating the spaces you dream of. Reach out to our friendly team today, and let's start turning your dreams into reality. We're here to provide guidance, support, and expertise every step of the way. Get in touch for a personalized conversation about your next project!
  </p>
</div>
</CallToAction>



</Layout>  

