---
import SubTitle from "../components/Headings/SubTitle.astro";

---

<div class="bg-gradient-to-b from-black to-neutral-800 border-t px-4 py-6"><!-- START DIV FOR 'USP' SECTION -->


            
 <p class="text-sm lg:text-lg text-brand-secondary text-center my-2">

    Perry’s Fencing & Landscaping Ltd are a family run professional landscaping company specialising in all aspects of hard landscaping and design. With a proud history servicing Hertfordshire, Bedfordshire, North London and Essex we have built up an excellent reputation providing quality craftsmanship, materials and organisation for a fair and reasonable price.
</p> 
  </div>