---
import ico from "../../assets/images/ico.webp";
import { Image } from 'astro:assets'

---

<footer class="bg-gray-600" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <!-- <div class="mx-auto max-w-7xl px-6 py-16 sm:py-24 lg:px-8 lg:py-32">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8">
    
      <div class="mt-16 lg:grid lg:grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-base font-semibold leading-6 text-white">Services</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="/epdm-flat-roofing" class="text-sm leading-6 text-gray-300 hover:text-gray-900">EPDM Flat Roofing</a>
              </li>
              <li>
                <a href="chimney-repairs" class="text-sm leading-6 text-gray-300 hover:text-gray-900">Chimney Repairs</a>
              </li>
              <li>
                <a href="/roof-coating" class="text-sm leading-6 text-gray-300 hover:text-gray-900">Roof Coating</a>
              </li>
              <li>
                <a href="/facade-coating" class="text-sm leading-6 text-gray-300 hover:text-gray-900">Facade Coating</a>
              </li>
              <li>
                <a href="/spray-foam-insulation" class="text-sm leading-6 text-gray-300 hover:text-gray-900">Spray Foam Insulation</a>
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-base font-semibold leading-6 text-white">Company</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="/about" class="text-sm leading-6 text-gray-300 hover:text-gray-900">About</a>
              </li>
              <li>
                <a href="/testimonials" class="text-sm leading-6 text-gray-300 hover:text-gray-900">Testimonials</a>
              </li>
              <li>
                <a href="/contact" class="text-sm leading-6 text-gray-300 hover:text-gray-900">Contact Us</a>
              </li>
             
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-base font-semibold leading-6 text-white">Legal</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="#" class="text-sm leading-6 text-gray-300 hover:text-gray-900">Privacy Policy</a>
              </li>
              
            </ul>
          </div>
          <div class="mt-10 md:mt-0 text-white">
           <p class="mb-4">2, Falcon Gate, <br />
            Shire Park, <br />
            Welwyn Garden City,<br />
            Hertfordshire,<br />
            AL7 1TW</p>
            <p class="mb-4"><a href="info@theclevercoatingcompany.co.uk">info@theclevercoatingcompany.co.uk</a></p>
            <Image 
            src={ico}      
            alt="The Clever Coating Company" 
            width={100}
            height={100}
            />
          </div>
        </div>
      </div>
    </div>
    

  </div>-->
  <footer class="py-10 mt-32">
  <p class="mt-8 text-base text-white text-center">
    &copy; {new Date().getFullYear()} RAU SERVICES. All rights reserved.
  </p>
  
   
     

</footer>


